body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 60px; /* Ajusta esta altura según tus necesidades */
    background-image: url('../img/background.jpg'); /* Ruta relativa a la imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff; /* Color del texto en la barra de navegación */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

  