.btn-publicar {
    font-size: 1rem; 
    padding: 10px 20px; 
    background-color: #3a3b99;
    color: white; 
    border: none;
    cursor: pointer;
}


.btn-publicar:hover {
    background-color: #5fb7ff; 
}
