{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <title>De-Fiance Blog</title>
        <!--Estilos-->
        <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
        
</head>
<body>

    <header>
      <nav class="navbar navbar-expand-lg bg-body-info">
        <div class="container-fluid">
          <img src="#" alt="">
          <a class="navbar-brand" href="#">De-Fiance Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'noticias:noticias' %}">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Publicaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'finanzas:finanzas' %}">Finanzas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contacto:contacto' %}">Contacto</a>
              </li>

                <li class="nav-item dropdown">

                  {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ user.first_name}}
                    </a>
                  {% else %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Usuarios
                    </a>
                  
                  {% endif %}

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'usuarios:login' %}">Inicia Sesion Aqui</a></li>
                    <li><a class="dropdown-item" href="{% url 'usuarios:registrarse' %}">Registrate</a></li>
                    <li><a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar Sesion</a></li>                  
                  </ul>
                </li>
             </ul>
            </div>
        </div>
      </nav>
    </header>
  
  


{% block contenido %}
        
{% endblock contenido %}
 
  <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>Blog De-Finance</p>
    <p class="mb-0">
      <a href="#">Volver al Navegador</a>
    </p>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>