{% extends 'base.html' %}

{% block contenido %}
<h1>TODAS LAS NOTICIAS</h1>{% csrf_token %}

{% for post in noticias %}
    
    <div class="card">
        <div class="card-header">
            <h3>{{ post.titulo }} </h3> 
    </div>
        <div class="card-body">
            <p class="card-text">{{ post.texto }}</p>
            <h6>Fecha: {{ post.fecha }}</h6>
        </div>
    </div>
    
    {% if user.is_authenticated %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Edita/Elimina tu Noticia
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'noticias:editar-noticia' post.id %}">Editar</a></li>
                <li><a class="dropdown-item" href="{% url 'noticias:eliminar-noticia' post.id %}">Eliminar</a></li>
            </ul>
        </div>
    {% else %}
        <a href="{% url 'noticias:noticia-detalle' post.id %}" class="btn btn-primary">Ver Más</a>
        
    {% endif %}

 
    
{% endfor %}

{% if user.is_authenticated %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'noticias:publicar-noticias' %}" class="btn btn-publicar"><i class="fa-solid fa-newspaper"></i>     Publicar noticia</a>
    </div>
{% else %}
    <a href="{% url 'usuarios:login' %}" class="btn btn-primary">Inicia Sesion para publicar</a>
{% endif %}

    
{% endblock contenido %}

    

    