{% extends 'base.html' %}

{% block contenido %}
<h1>TODAS LAS NOTICIAS</h1>{% csrf_token %}

{% for post in noticias %}
    
    <div class="card">
        <div class="card-header">
            <h3>{{ post.titulo }} </h3> 
    </div>
        <div class="card-body">
            <p class="card-text">{{ post.texto }}</p>
            <h6>Fecha: {{ post.fecha }}</h6>
            <a href="#" class="btn btn-primary">Me Gusta</a>
        </div>
    </div>
 
    
{% endfor %}

{% if user.is_authenticated %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'noticias:publicar-noticias' %}" class="btn btn-publicar"><i class="fa-solid fa-newspaper"></i>     Publicar noticia</a>
    </div>
{% else %}
    <a href="{% url 'usuarios:login' %}" class="btn btn-primary">Inicia Sesion para publicar</a>
{% endif %}

    
{% endblock contenido %}

    

    