{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<main>
  <div class="row g-5">
    <div class="col-md-8">
      <div class="row mb-2">
      
      
        <article class="blog-post">
          <div class="col-auto d-none d-lg-block">
              <img src="{{detalle.img.url}}" alt="imagen-default" width="100%" height="300">
          </div>

          <h2 class="display-5 link-body-emphasis mb-1 mt-3"><b>{{ detalle.titulo }}</b></h2>
          <p class="blog-post-meta">Fecha: {{detalle.fecha}} escrito por: <a href="#">{{ detalle.autor.first_name }} {{ detalle.autor.last_name }}</a></p>
        
          <p>{{ detalle.texto }}</p>
        </article>
      
        <div class="comentario-container">
          <h3>Comentarios</h3>

            {% for comentario in detalle.comentarios.all %}
              <div class="card">
                <div class="card-header" class="bkg-secondary">
                  Publicado por: {{ comentario.autor.first_name }} {{comentario.autor.last_name}}
                </div>
                <div class="card-body">
                  <p class="card-text">{{ comentario.texto }}</p>
                  
                <div class="card-header">
                  <p class="card-text">fecha: {{ comentario.fecha }}</p>
                  {% if user.is_superuser or user == comentario.autor or user == comentario.relacion_post.autor or user.es_admin %}
                    <div class="btn-group" role="group" aria-label="Default button group">
                      <a href="{% url 'noticias:borrar-comentario' comentario.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i>  Eliminar Comentario</a>
                    </div>
                  {% endif %}
                </div>
                </div>
              </div> 
            {% endfor %}
          
              
      </div>
      
      {% if user.is_authenticated %}
        <form method="post">{% csrf_token %}
          {{formulario_comentario}}
          <button type="submit" class="btn btn-success">Comentar</button>
        </form>
      {% endif %}
        
      </div>
      
    </div>
    <aside class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
      
          <div class="p-4">
            <h4 class="fst-italic">Nuestras Redes</h4>
            <ol class="list-unstyled">
               <li><a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i> Instagram</a></li>
               <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2F%3Flang%3Des"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
               <li><a href="https://es-la.facebook.com/"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
            </ol>
          </div>
        
      </div>
    </aside>
  </div>
</main>
<div class="container">
  <a href="{% url 'noticias:noticias' %}" class="btn btn-primary">Volver</a>
</div>
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <p>Blog De-Finance</p>
  <p class="mb-0">
    <a href="#">Volver al Navegador</a>
  </p>
</footer>
    
{% endblock contenido %}


