{% extends 'base.html' %}

{% block contenido %}
    <h1>NOTICIAS</h1>
    
    {% for noticia in noticias %}
        <h4>Noticias</h4>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-head">
                <h5 class="card-title">{{ noticia.fecha }}</h5>
                <h5 class="card-title">{{ noticia.titulo }} <h5>Autor: {{ noticia.autor.first_name }} {{ noticia.autor.last_name }} </h5></h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ noticia.texto }}</p>
            </div>
            <a href="{% url 'noticias:editar-noticia' noticia.id %}" class="btn btn-primary">Editar</a>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <a href="{% url 'noticias:publicar-noticias' %}" class="btn btn-primary">Publica tu Noticia</a>
    {% else %}
        <a href="#" class="btn btn-primary">Indagar mas</a>
    {% endif %}
{% endblock contenido %}
