{% extends 'base.html' %}


{% block contenido %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

<title>Acerca de - De-Fi Blog</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="{% static 'CSS/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'CSS/templatemo-finance-business.css' %}">
<link rel="stylesheet" href="{% static 'CSS/owl.css' %}">

<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Acerca de Nosotros</h1>
          <span>Mantenete siempre actualizado en el mundo del blockchain.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info about-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>Somos expertos en materia de De-Fi</span>
                  <h2>Conoce un poco más de <em>nosotros</em></h2>
                  <p>Somos un grupo de amigos amantes del mundo de las criptomonedas y notamos la escasa información de calidad en español que puede encontrarse. 
                  <br><br>Es por eso que nos embarcamos en este increíble viaje donde nuestra misión es que las últimas nocitias estén siempre al alcance de todos.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="left-image">
                  <img src="{% static 'imagenes/cardano-tablet.jpg' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Te mostramos al <em>equipo</em></h2>
            <span>Las caras detrás de De-Fi Blog</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-item">
            <img src="{% static 'imagenes/team_01.jpg' %}" alt="">
            <div class="down-content">
              <h4>Luca Paguro</h4>
              <span>Fundador y director ejecutivo</span>
              <p>Luca es un apasionado de la tecnología y la innovación, y tiene una amplia experiencia en el desarrollo de aplicaciones web y móviles basadas en blockchain. Luca es licenciado en Ingeniería Informática por la Universidad de Génova y tiene un máster en Finanzas Digitales por la Universidad de Oxford.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-item">
            <img src="{% static 'imagenes/team_02.jpg' %}" alt="">
            <div class="down-content">
              <h4>Giulia Marcovaldo</h4>
              <span>Jefa de marketing y comunicación</span>
              <p>Giulia es una experta en marketing digital, redes sociales y análisis de datos, y tiene un gran interés por el mundo de las criptomonedas y el De-Fi. Giulia es licenciada en Administración y Dirección de Empresas por la Universidad Bocconi de Milán y tiene un posgrado en Marketing Digital por la Universidad de Harvard.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-item">
            <img src="{% static 'imagenes/team_03.jpg' %}" alt="">
            <div class="down-content">
              <h4>Alberto Scorfano</h4>
              <span>Experto en finanzas y asesor</span>
              <p>Alberto es un profesional del sector bancario, con más de 10 años de trayectoria en diferentes entidades financieras. Alberto es un entusiasta del De-Fi y el blockchain, y ha participado en varios proyectos e iniciativas relacionados con estas tecnologías. Alberto es licenciado en Economía por la Universidad de Roma La Sapienza y tiene un doctorado en Finanzas por la Universidad de Londres.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>La educación es la clave</span>
            <h2>Democratizar el <em>conocimiento</em></h2>
            <p>El De-Fi (finanzas descentralizadas) y el blockchain (cadena de bloques) son dos conceptos que están cambiando la forma de entender y usar el dinero, los servicios financieros y los sistemas económicos. Estas tecnologías ofrecen ventajas como la transparencia, la seguridad, la inclusión, la eficiencia y la innovación, y tienen el potencial de transformar sectores como el bancario, el empresarial, el social y el ambiental. 
            <br><br>Sin embargo, para aprovechar al máximo estas oportunidades, es necesario tener un conocimiento básico sobre qué son, cómo funcionan y qué implicaciones tienen el De-Fi y el blockchain. Por eso, desde De-Fi Blog queremos contribuir a la educación y la difusión de estas tecnologías, ofreciendo contenido de calidad, accesible y actualizado sobre estos temas.
            <br><br>En nuestro blog encontrarás artículos, tutoriales, entrevistas, noticias y recursos sobre el De-Fi y el blockchain, explicados de forma sencilla y práctica. Nuestro objetivo es que aprendas, te informes y te inspires con las posibilidades que estas tecnologías brindan para crear un mundo más justo, sostenible y próspero.</p>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">12</div>
                <div class="count-title">Años de experiencia</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">+100</div>
                <div class="count-title">Publicaciones</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">14</div>
                <div class="count-title">Cursos de básico a experto</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">+1500</div>
                <div class="count-title">Miembros de la comunidad</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}
    